/* Default styles for larger screens */
.buttonContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* Ensure buttons wrap to new lines if needed */
  margin-top: 100px;
}

.buttonContainer .button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer .buttonImage {
  width: 100px;
  /* Adjust as needed */
  height: 100px;
  /* Adjust as needed */
  border-radius: 50%;
}

/* Styles for mobile view */
@media (max-width: 768px) {
  .buttonContainer {
    flex-direction: column;
    /* Stack buttons vertically on smaller screens */
    align-items: center;
    margin-top: 20px;
  }

  .buttonContainer .button {
    margin: 10px 0;
  }
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.home h1 {
  font-size: 3rem;
  color: #333;
}

.home a {
  margin: 1rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
}

.home a:hover {
  background-color: #555;
}

.home a:active {
  background-color: #777;
}

.linkContainer {
  /* position: relative;
  margin: 1rem; */
}

.about {
  position: absolute;
  top: 10px;
  right: 0px;
}

.linkContainer a {

  padding: 10px 20px;
  background-color: #0a0a94;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  font-size: 1.2rem;
  text-align: center;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.linkContainer a:hover {
  background-color: #1a1a99;
}