/* Default styles for larger screens */
.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.buttonContainer .button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  margin: 10px;
}

/* Styles for mobile view */
@media (max-width: 768px) {
  .buttonContainer {
    display: block;
    text-align: center;
  }

  .buttonContainer .button {
    margin: 20px auto;
  }
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.home h1 {
  font-size: 3rem;
  color: #333;
}

.home a {
  margin: 1rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
}

.home a:hover {
  background-color: #555;
}

.home a:active {
  background-color: #777;
}

.linkContainer {
  display: flex;
  flex-direction: row;
}

.aboutButton:hover {
  background-color: #4169E1 !important;
}