.calendar {}

.calendarHeader {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 40px;
}

.rounded {
    border-top: 2px solid #000000 !important;
    width: 90%;
    /* make it centered */
    margin-left: auto;
    margin-right: auto;
}

.datePickerContainer {
    /* margin-left: 40px; */
}