.calendar {}

.calendarHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.datePickerContainer {
    /* margin-left: 40px; */
}